<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=112651685520077";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</script>

<% @posts.each do |post| %>
	<h3><%= link_to post.title, post_path(post) %></h3>
	<h6><i class="icon-time"></i><%= post.created_at%></h6>
	<br/>
	<div class="fb-share-button" data-href=<%= post_url(post)%>" data-type="box_count"></div>
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= post_url(post)%>" data-lang="ja data-text="<%= post.title %>"">ツイート</a>

	<br/><br/>
	<p>
		<%= post.thumbnail.html_safe %>
	</p>
	<p><%= link_to "続きを読む →", post_path(post), :style => "color:red;" %></p>
<%end%>