
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=112651685520077";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</script>
<h6><i class="icon-time"></i><%= @post.created_at%></h6>
<br/>
<div class="fb-share-button" data-href="<%= post_url(@post)%>" data-type="box_count"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= post_url(@post)%>" data-lang="ja" data-text="<%= @post.title %>">ツイート</a>
<br/><br/>
<p>
	<%= @post.content.html_safe %>
</p>
<%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn'  %>